/* --------Mobile-------- */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .burger-address-tel {
    font-size: 36px;
  }

  .burger-socials-list {
    gap: 56px;
  }

  .modal-container {
    max-width: 392px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

/* ---------Tablet-------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Header */

  .header-logo {
    padding-bottom: 25.5px;
    margin-right: 120px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    color: var(--basic-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--hover-color);
  }

  .current {
    position: relative;
    color: var(--hover-color);
  }

  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    bottom: -1px;
  }

  .header-address {
    margin-left: auto;
    display: block;
    padding: 16px 0;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .header-address-link {
    font-size: 12px;
    font-style: normal;
    color: var(--text-color);
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--hover-color);
  }

  .burger-open-btn {
    display: none;
  }

  /* Hero  */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 36px;
    max-width: 496px;
  }

  /* About */

  .about-list {
    gap: 72px 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .about-item-title {
    text-align: start;
  }

  /* Team */
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* Customers */
  .customers > .container {
    max-width: 552px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /* Footer */
  .footer-container {
    max-width: 552px;
    display: flex;
    flex-direction: column;
  }

  .footer-top-container {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
  }

  .footer-logo {
    text-align: start;
  }

  .footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }

  .footer-socials-title {
    text-align: start;
  }

  .footer-socials-item {
    margin-bottom: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-text {
    text-align: start;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0px;
  }

  .footer-form-btn {
    margin: 0;
  }

  /* Portfolio */

  .potfolio {
    padding: 64px 0 96px;
  }

  .potfolio-list {
    max-width: 100%;
    justify-content: center;
    margin-bottom: 64px;
  }

  .works-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .works-item {
    width: calc((100% - 24px) / 2);
  }

  /* Modal */

  .modal-container {
    max-width: 408px;
    padding: 72px 25px 24px 23px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-2x.jpg);
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* Header */
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* Hero  */

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  /* About */

  .about {
    padding: 120px 0;
  }

  .about-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .about-icon-container {
    background-color: var(--secondary-color);
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .about-text {
    font-weight: 400;
  }

  /* Directions */

  .directions {
    padding-bottom: 120px;
    display: block;
  }

  .directions-title {
    color: var(--basic-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
  }

  .directions-list {
    display: flex;
    gap: 24px;
  }

  .directions-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /* Team */
  .team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /* Customers */

  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }

  /* Footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    max-width: 1158px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-top-container {
    gap: 0;
    margin-bottom: 0;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-input {
    opacity: inherit;
  }

  /* Portfolio */

  .potfolio {
    padding: 100px 0 120px;
  }

  .potfolio-list {
    margin-bottom: 72px;
  }

  .works-list {
    gap: 48px 24px;
  }

  .works-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /* Modal */

  .modal-container {
    padding: 72px 24px 24px 24px;
  }

  .modal-input {
    padding: 0 16px 0 38px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-2x.jpg);
  }
}
